.DS_Store
.ipynb_checkpoints
.vscode/
OLD/
Untitled.ipynb
__pycache__
angle-labeled-triangle.tex
test3.py
texput.log
jinjatest.pdf
jinjatest.tex
jinjatest.log
jinjatest.aux
rttL1.tex
rttL2.tex
math_test.aux
math_test.log
math_test.pdf
math_test.tex
answer_key.aux
answer_key.log
answer_key.pdf
answer_key.tex
math_answers.tex
*.pyc